@import './../../../scss/variables';
.w--text_input {
    .country_code{
        position: absolute;
        left: 5px;
        display: none;
    }
    position: relative;
    margin: 0px 0px 20px 0px;
    border: 0px;
    
    &:before {
        position: absolute;
        left: 19px;
        top: 12px;
        font-size: 18px;
    }
    hr {
        display: none;
    }
    input::placeholder {
        opacity: 0.5;
        text-align: center;
    }
    input {
        width: 90%;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid$black;
        height: 42px;
        padding-top: 0px;
        padding-left: 12px;
        font-size: 14px;
        outline: none;
    }
    .text-description {
        color: color($baseDark a(70%));
    }
    .error-label,
    .text-description {
        font-size: 14px;
        margin-top: 5px;
        display: block;
    }
    &.has-error {
        input{
            border: 1px solid $red;
        }
    }
}