@import './../../../scss/variables';
.subscribe-wrapper{
    padding: 20px 8px;
    .w--text_input{
      input{
        border: 0px
      }
    }
    h1{
      color: $red;
    }
    .desc{
      padding: 20px;
      margin: 0px;
    }
    article{
      padding: 20px;
    }
    .w--button{
      width: 50%;
      border-radius: 0px;
      color: white;
      background-color: $red;
      letter-spacing: 1.5px;
    }
  }

@media only screen and (min-width: $screen-width-xs + 1){
.subscribe-wrapper{
    max-width: 700px;
    .desc{
      letter-spacing: .5px;
    }
    margin: 0 auto;
      article{
        display: flex;
        justify-content: center;
        align-items: center;
        .w--button{
          width: 120px;
          padding: 0px;
          margin: 0px;
          height: 44px;
          border-radius: 0px;
        }
        .w--text_input{
          width: 320px;
          padding: 0px;
          margin: 0px;
          height: 50px;
          input{
            border: 0px
          }
        }
      }
  }
}