@import "variables";

.icon_right_solid {
  &:before {
    content: $icon_right_solid;
  }
}
.icon_down_solid {
  &:before {
    content: $icon_down_solid;
  }
}
.icon_user {
  &:before {
    content: $icon_user;
  }
}
.icon_track_order {
  &:before {
    content: $icon_track_order;
  }
}
.icon_delete {
  &:before {
    content: $icon_delete;
  }
}
.icon_share {
  &:before {
    content: $icon_share;
  }
}
.icon_rupee {
  &:before {
    content: $icon_rupee;
  }
}
.icon_down {
  &:before {
    content: $icon_down;
  }
}
.icon_up {
  &:before {
    content: $icon_up;
  }
}
.icon_menu {
  &:before {
    content: $icon_menu;
  }
}
.icon_twitter {
  &:before {
    content: $icon_twitter;
  }
}
.icon_contact_us {
  &:before {
    content: $icon_contact_us;
  }
}
.icon_close {
  &:before {
    content: $icon_close;
  }
}
.icon_card {
  &:before {
    content: $icon_card;
  }
}
.icon_bag {
  &:before {
    content: $icon_bag;
  }
}
.icon_attachment {
  &:before {
    content: $icon_attachment;
  }
}
.icon_apple {
  &:before {
    content: $icon_apple;
  }
}
.icon_android {
  &:before {
    content: $icon_android;
  }
}
.icon_snapchat {
  &:before {
    content: $icon_snapchat;
  }
}
.icon_instagram {
  &:before {
    content: $icon_instagram;
  }
}
.icon_google_plus {
  &:before {
    content: $icon_google_plus;
  }
}
.icon_facebook {
  &:before {
    content: $icon_facebook;
  }
}
.icon_pinterest {
  &:before {
    content: $icon_pinterest;
  }
}
.icon_tick {
  &:before {
    content: $icon_tick;
  }
}
.icon_google {
  &:before {
    content: $icon_google;
  }
}
.icon_instagram_new {
  &:before {
    content: $icon_instagram_new;
  }
}
.icon_ship {
  &:before {
    content: $icon_ship;
  }
}
.icon_gift {
  &:before {
    content: $icon_gift;
  }
}
.icon_whatsapp {
  &:before {
    content: $icon_whatsapp;
  }
}

