$icomoon-font-path: "fonts" !default;

$icon_right_solid: "\ea1c";
$icon_down_solid: "\ea1d";
$icon_user: "\e904";
$icon_track_order: "\e907";
$icon_share: "\e90d";
$icon_search: "\e90e";
$icon_rupee: "\e90f";
$icon_down: "\e919";
$icon_up: "\e91a";
$icon_menu: "\e91d";
$icon_home: "\e920";
$icon_help: "\e921";
$icon_twitter: "\e926";
$icon_delete: "\e928";
$icon_contact_us: "\e92a";
$icon_close: "\e92c";
$icon_card: "\e92e";
$icon_bag: "\e931";
$icon_attachment: "\e932";
$icon_apple: "\e933";
$icon_android: "\e934";
$icon_snapchat: "\e935";
$icon_instagram: "\e936";
$icon_google_plus: "\e937";
$icon_facebook: "\e938";
$icon_pinterest: "\e939";
$icon_tick: "\e93c";
$icon_google: "\e941";
$icon_instagram_new: "\e943";
$icon_ship: "\e944";
$icon_gift: "\e947";
$icon_whatsapp: "\ea93";

