@import './../../scss/variables';
@media (min-width: 1200px){
    .header-wrapper{
        max-width: 1280px;
    }
}
.header-wrapper{
    .header-container{
        padding: 10px 0px;
    }
    .login{
        margin-top: 5px;
    }
    .list-search{
        position: absolute;
        width: 94%;
        margin: 0;
        padding: 0;
        z-index: 12;
        background-color: $white;
        ._item{
            border: 1px solid;
            padding: 10px;
        }
    }
    .search{
        .w--text_input{
            margin: 0px;
            input{
                border-radius: 4px;
                background: $borderColor;
                outline: none;
                height: 48px;
                padding-top: 0px;
                padding-bottom: 0px;
                border: 0px;
                box-shadow: none;
            }
            input::placeholder {
                text-align: left;
            }
            .form-label{
                display: none;
            }
        }
    }
    .logo{
        align-self: center;
    }
    .logo-link{
        display: block;
        width: 174px;
        img {
            width: 100% ;
            margin: 0;
        }
    }
    .cta{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .elem{
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                height: 20px;
            }
            a{
                text-decoration: none;
                color: $black;
            }
            .text{
                padding: 10px 5px;
                margin-top: 4px;
                font-size: 12px;
                small{
                    font-size: 9px;
                }
            }
        }
    }
}

@media only screen and (max-width: $screen-width-xxs + 1) {
    .header-wrapper{
        .logo-link{
            margin-left: 40px;
        }
        .search{
            margin-top: 10px;
            .w--text_input{
                input{
                    border-radius: 0;
                }
            }
        }
        .list-search{
            ._item{
                border: 1px solid $borderColor;
                padding: 10px;
                width: 97%;
            }
        }
    }
    .mobile-ham{
        position: absolute;
        top: 4px;
        left: 30px;
        z-index: 5;
        .icon{
            position: absolute;
            content: '';
            background-color:$black;
            width: 2px;
            height: 25px;
            transform: rotate(90deg);
            &:before{
                content: '';
                width: 2px;
                height: 25px;
                background-color: $black;
                display: inline-block;
                position: absolute;
                left: 8px;
                transform: rotate(180deg);
            }
            &:after{
                content: '';
                width: 2px;
                height: 25px;
                background-color: $black;
                display: inline-block;
                position: absolute;
                right: 8px;
                transform: rotate(180deg);
            }
        }
    }
}
