@import './../../../scss/variables';
.w--password_input {
    position: relative;
    margin: 0px 0px 20px 0px;
    border: 0px;
    
    &:before {
        position: absolute;
        left: 19px;
        top: 12px;
        font-size: 18px;
    }
    hr {
        display: none;
    }
    input::placeholder {
        opacity: 0.5;
        text-align: center;
    }
    input {
        width: 100%;
        // border-radius: 4px;
        border: 1px solid #e0e0e0;
        height: 48px;
        padding-top: 0px;
        padding-left: 12px;
        font-size: 16px;
        outline: none;
    }
    .text-description {
        color: color($baseDark a(70%));
    }
    .error-label,
    .text-description {
        font-size: 14px;
        margin-top: 5px;
        display: block;
    }
    &.has-error {
        input{
            border: 1px solid $red;
        }
    }
}