@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "./../fonts/iconmoon/style.scss";
@import "swiper/swiper.scss";

  @font-face {
    font-display: swap;
    font-family: montserrat-bold;
    src: local('\263A'), url("./../fonts/montserrat/Montserrat-bold.ttf") format('truetype');
  }
  
  @font-face {
    font-display: swap;
    font-family: montserrat-light;
    src: local('\263A'), url("./../fonts/montserrat/Montserrat-light.otf") format("opentype");
    ;
  }
  
  @font-face {
    font-display: swap;
    font-family: montserrat;
    src: local('\263A'), url("./../fonts/montserrat/Montserrat.ttf") format('truetype');
  }
  
  @font-face {
    font-display: swap;
    font-family: montserrat-thin;
    src: local('\263A'), url("./../fonts/montserrat/Montserrat-thin.otf") format("opentype");
    ;
  }
  
  @font-face {
    font-display: swap;
    font-family: 'icomoon';
    src: local('\263A'), url('./../fonts/iconmoon/fonts/icomoon.ttf?bznh19') format('truetype'), url('./../fonts/iconmoon/fonts/icomoon.woff?bznh19') format('woff'), url('./../fonts/iconmoon/fonts/icomoon.svg?bznh19#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class*="icon_"],
  [class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  html {
    font-family: $font-montserrat !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  ul{
    margin: 0px;
  }
  label{
    margin-bottom: 0px;
  }
  .error-label{
    color: red;
    font-size: 10px;
  }